{% extends "home/home.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/page-advert-002.css')}}" />
{% endblock %}

<!-- main body block -->
{% block body %}
<div class="subject-layout">
    <div class="navigation-bar">
        <h4>Navigation</h4>
        <ul>
            <li>Section 1</li>
            <li>Section 2</li>
            <li>Section 3</li>
        </ul>
    </div>
    <div class="subject-content">
        <div class="form-table">
            <h1 class="form-table__title">{{ title }}</h1>
            <div class="block-out">
                <div class="form-table__sub-title">
                    <span>Posted on:</span>
                    Nov. 23, 2019
                </div>
            </div>
        </div>


        <div class="gallery">
            <img src="{{url_for('static', filename='images/grace-kelly/grace-kelly-001.png')}}" alt="Grace Kelly"
                class="gallery__image">
            <button class="button" id="switch__button">switch photo</button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{url_for('static', filename='js/switching.js')}}"></script>
{% endblock %}