{% extends "home/home.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/page-advert-003.css')}}" />
{% endblock %}

<!-- main body block -->
{% block body %}
<div class="subject-layout">
    <div class="subject-content">
        <div class="form-table">
            <h1 class="form-table__title">{{ title }}</h1>
            <div class="block-out">
                <div class="form-table__sub-title">
                    <span>Posted on:</span>
                    Dec. 12, 2019
                </div>
            </div>
        </div>

        {% for user_id in data %}
        <div class="card">
            <div class="card__title">
                <h2>{{ data[user_id]["name"] }}</h2>
            </div>
            <div class="card__content">
                <table>
                    {% for key, value in data[user_id]["company"].items() %}
                    <tr>
                        <td><strong>{{ key }}</strong></td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{url_for('static', filename='js/json-ad-001.js')}}"></script>
{% endblock %}